<!-- Content Header (Page header) -->
<section class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1>{{title}}</h1>
      </div>
      <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
          <li class="breadcrumb-item"><a href="#">Inicio</a></li>
          <li class="breadcrumb-item active">{{title}}</li>
        </ol>
      </div>
    </div>
  </div><!-- /.container-fluid -->
</section>
<div class="content-fluid">
  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-header">
          <h3 class="card-title">DataTable with default features</h3>
        </div>
        <div style="margin-left: 20px; margin-top: 20px">
          <button class="btn btn-primary" [routerLink]="['/registro']">
            Agregar usuario
          </button>

        </div>
        <div class="card-body">
<!--          <div class="card">-->
<!--            <div class="card-header with-border">-->
<!--              <button class="btn btn-primary" data-toggle="modal" data-target="#modalAgregarUsuario">-->
<!--                Agregar usuario-->
<!--              </button>-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->


          <table id="example1" class="table table-bordered table-striped tablas">

            <thead>
            <tr>
              <th>Usuario</th>
              <th>Foto</th>
              <th>Acciones</th>
            </tr>
            </thead>
            <tbody>
            <tr>
              <td>Rime</td>
              <td>foto1</td>
              <td>
                <div class="btn-group">
                  <button class="btn btn-warning"><i class="fa fa-edit"></i></button>
                  <button class="btn btn-danger"><i class="fa fa-times"></i></button>
                </div>
              </td>
            </tr>
            <tr>
              <td>aide</td>
              <td>foto2</td>
              <td>
                <div class="btn-group">
                  <button class="btn btn-warning"><i class="fa fa-edit"></i></button>
                  <button class="btn btn-danger"><i class="fa fa-times"></i></button>
                </div>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
        </div>
      </div>
    </div>
  </div>


